/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#loadBtn{
	-fx-background-color: #ff0000;
}

#loadBtn:hover{
	-fx-background-color: #aa0000;
}

#enlargeBtn.pressed{
	-fx-background-color: #00ff00;
}